{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font"><strong>Projects</strong></h2>
                </div>
            </div>
            <div class="row">
                {% for project in projects %}
                    <div class="card" style="min-width: 90%;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% if project.images %}
                                    <a href="{% url 'project_detail' project.id %}">
                                        <img class="card-img-top img-fluid" src="{{ project.images.url }}" alt="{{ project.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'project_detail' project.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ project.name }}">
                                    </a>
                                {% endif %}
                            </div>    
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title mb-5 center">{{ project.name }}</h4>
                                    <p class="lead ml-5 mb-5 text-left"><span class="make-underline">Description:  </span> {{ project.description }}</strong></p>   
                                    {% if project.rating %}
                                        <p class="lead ml-5 mb-5 text-left"><span class="make-underline">Rating:  </span>{{ project.rating }}<i class="fas fa-star mr-1"></i></small>
                                    {% else %}
                                        <p class="text-muted">No Rating</small>
                                    {% endif %}   
                                    <p class="lead ml-5 mb-5 text-left"><span class="make-underline">Price:  </span>{{ project.price }}£</p>   
                                    {% if request.user.is_superuser %}
                                        <div class="ml-3 center">
                                            <a href="{% url 'edit_project' project.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_project' project.id %}">Delete</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
